
//Carousel
.carousel {
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  .carousel-body {
    margin-top: 50px;
    margin-bottom: 60px;
    height: 550px;
    perspective:1000px;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    .carousel-item {
      backface-visibility: hidden;
      position: absolute;
      left:0;
      right:0;
      top: -25px;
      padding: 0;
      margin: 0;
      width: 100%;
      .carousel-item-body {
        width: 100%;
        height:100%;
        .carousel-item-body-text {
          padding: 10px 30px;
          h1 {
            position: relative;
            opacity: 0;
            left: -50px;
            &.carousel-text-animation {
              // I decided this animation should come in from the side
              // because it looks nicer on phones and smaller devices
              opacity: 1;
              left: 0;
              @include standard-animation(.75s);
            }
          }
          p {
            line-height: 31px;
            margin-bottom: 20px;
            font-weight: 300;
            position: relative;
            opacity: 0;
            bottom: -50px;
            &.carousel-text-animation {
              // I decided this animation should come in from the bottom
              // because it looks good to have variety
              opacity: 1;
              bottom: 0;
              @include standard-animation(.75s);
            }
          }

        }
        .carousel-item-image {
          // position: absolute;
          width: 100%;
          margin: 0;
        }
        button {
          min-width: 250px;
          background-color: $light-backround;
          &:hover {
            background-color: $tidal-blue;
          }
        }
      }
    }
    .carousel-hidden {
      opacity: 0;
      @include standard-animation(.25s);
      z-index: -10;
    }
  }
  .carousel-controls {
    width: 100%;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    position: relative;
    z-index: 10;
    .carousel-control-pips {
      cursor: pointer;
      border: 2px solid white;
      border-radius: 100%;
      width: 10px;
      height:10px;
      margin: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &.active {
        background-color: white;
      }
    }
  }
}

/* Ultra Small screens */
@media all and (max-width: 599px) {
  .carousel .carousel-body {
    margin-top:0px;
    margin-bottom: 0px;
    height:430px;
    .carousel-item .carousel-item-body {
      .carousel-item-body-text {
        padding:0 20px;
      }
      .carousel-item-image {
        position: relative;
        left: -20px;
      }
      .carousel-item-button {
        margin: 0px 20px;
        padding: 0;
        button {
          width:100%;
        }
      }

    }
  }
}

/* Ultra Small screens */
@media all and (max-width: 599px) {
  .carousel .carousel-body {
    height:430px;
    .carousel-item-image img {
      margin-bottom: -25px;
      min-height: 440px;
      min-width: 1366px;
      width: 100%;
      height: auto;
      left: 50%;
      margin-left: -84px;
      min-height: 40px;
      min-width: 420px;
      &.carousel-2 {
        margin-left: -114px;
      }
      &.carousel-3 {
        margin-left: -43px;
        margin-top: -25px;
        margin-bottom: 0px;
      }
    }
  }
}

/* Small screens */
@media all and (min-width: 600) and (max-width: 750px) {
  .carousel .carousel-body {
    margin-top:10px;
    margin-bottom: 10px;
    height:430px;
    .carousel-item-image img {
      margin-bottom: -25px;
      min-height: 440px;
      min-width: 1366px;
      width: 100%;
      height: auto;
      left: 50%;
      margin-left: -84px;
      min-height: 40px;
      min-width: 420px;
      &.carousel-2 {
        margin-left: -124px;
      }
      &.carousel-3 {
        margin-left: -20px;
        margin-top: -25px;
        margin-bottom: 0px;
      }
    }
  }
}

/* Medium screens */
@media all and (min-width: 751px) and (max-width: 1023px) {
  .carousel .carousel-body {
    margin-top:30px;
    margin-bottom: 80px;
    height:530px;
    .carousel-item-image {

      img {
        margin-bottom: -25px;
        min-height: 440px;
        min-width: 1366px;
        width: 100%;
        height: auto;
        left: 50%;
        margin-left: -84px;
        min-height: 40px;
        min-width: 420px;
        &.carousel-1 {
          margin-left:-110px;
        }
        &.carousel-3 {

        }
      }
    }
  }
}

/* Large screens */
@media all and (min-width: 1024px) {
  .carousel .carousel-body {
    height:490px;
    .carousel-item .carousel-item-body {
      .carousel-item-body-text {
        margin-top: 100px;
        padding-left: 0;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        text-align: start;
      }
      .carousel-item-image {
        margin-top:-200px;
      }
      .carousel-item-button {
        margin-top:-200px;

        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        text-align: start;
      }
    }
  }
}
