.footer {
  .footer-top {
    height:300px;
    max-width: 490px;
    margin: 0 auto;
    .footer-top-header {
      padding: 0;
      margin: 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 10px;
          list-style-type:none;
          font-size: 30px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

      }
    }
    .footer-top-body {
      text-align: center;
      text-justify: inner-word;
      -moz-text-align-last: center;
      text-align-last: center;
      font-weight: 300;
      font-size: 15px;
      line-height: 27px;
    }
  }
  .footer-bottom {
    background-color: $dark-background;
    min-height: 80px;
    text-align: center;
    color: $link-hover-color;
    .tidal-footer {
      p {
        line-height: 32px;
      }
      .footer-social {
        @extend .social-icons;
      }
    }
    .try-tidal {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top:-25px;
      left: 0;
      right: 0;
    }
  }

}

/* Ultra Small screens */
@media all and (max-width: 599px) {
  .footer {
    .footer-top {
      .footer-top-header {
        ul li {
          font-size: 22px;
        }
      }
      .footer-top-body {
        font-size: 12px;
      }
    }
    .footer-bottom {
      margin-top: 0px;
      .try-tidal {
        padding-left: 10px;
        padding-right: 10px;
        button {
          min-width: 100%;
        }
      }
      .tidal-footer {
        padding-top:40px;
        padding-bottom: 20px;
        .row {
          flex-direction: row-reverse;
          flex-wrap: wrap-reverse;
          .footer-social {
            -webkit-justify-content: flex-center;
            justify-content: flex-center;
            -ms-flex-pack: center;
            -webkit-box-pack: center;
            text-align: center;
            li {
              font-size: 30px;
            }
          }
          p {
            text-align: center;
            font-size: 10px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

/* Small screens */
@media all and (min-width: 600) and (max-width: 750px) {

}

/* Medium screens */
@media all and (min-width: 751px) and (max-width: 1023px) {

}

/* Large screens */
@media all and (min-width: 1024px) {

}
