
//Fix some issues with flexbox and images
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

@mixin flexbox() {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

@mixin flex($val) {
  -ms-flex-preferred-size: $val;
  -webkit-flex-basis: $val;
  flex-basis: $val;
  -webkit-flex: $val;
  flex: $val;

}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin padding($padding-top, $padding-right, $padding-bottom, $padding-left) {
  padding-top: $padding-top;
  padding-right: $padding-right;
  padding-bottom: $padding-bottom;
  padding-left: $padding-left;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  @include flexbox();
  @include flex(0 0 100%);
  @include padding(10px, 10px, 10px, 10px);
  &:first-child {
    @include padding(0px, 10px, 10px, 10px);
  }
  &:last-child {
    @include padding(10px, 10px, 0px, 10px);
  }
}

.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  text-align: start;
}
.flex-center {
  -webkit-justify-content: flex-center;
  justify-content: flex-center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  text-align: center;
}
.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  text-align: end;
}

.flex-top {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
}

.flex-middle {
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
}

.flex-bottom {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
}

[class*=col-] {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  &:first-child {
    @include padding(0px, 5px, 0px, 0px);
  }
  &:last-child {
    @include padding(0px, 0px, 0px, 5px);
  }
  &:only-of-type {
    @include padding(0px, 0px, 0px, 0px);
  }
}

//Grid Layout
//Small Grid
@for $i from 1 through $grid-columns {
  .col-sm-#{$i} {
    @include flex(percentage($i / $grid-columns));
    flex-grow: 0;
    flex-shrink: 0;
  }
}

//Medium Grid
@for $i from 1 through $grid-columns {
  .col-md-#{$i} {
    @include flex(percentage($i / $grid-columns));
    flex-grow: 0;
    flex-shrink: 0;
  }
}
//Large Grid
@for $i from 1 through $grid-columns {
  .col-lg-#{$i} {
    @include flex(percentage($i / $grid-columns ));
    flex-grow: 0;
    flex-shrink: 0;
  }
}

//Offset
@for $i from 1 through $grid-columns {
  .col-offset-#{$i} {
    margin-left: percentage($i / $grid-columns);
  }
}



/* Small screens */
@media all and (max-width: 599px) {
  [class*=col-md-] {
    @include flex(100%);
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=col-lg-] {
    @include flex(100%);
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=col-offset-] {
    margin-left: 0;
  }
}

/* Medium screens */
@media all and (min-width: 600px) and (max-width: 1023px) {
  [class*=col-lg-] {
    @include flex(100%);
    flex-grow: 1;
    flex-shrink: 1;
  }
  [class*=col-offset-] {
    margin-left: 0;
  }
}

/* Large screens */
@media all and (min-width: 1024px) {

}
