@import "menu-icon";

.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: $light-backround;
  min-height: $navbar-height;
  .navbar {
    padding-bottom: $navbar-margin / 2;
    padding-left: $navbar-margin;
    padding-right: $navbar-margin;
    .navbar-header {
      .navbar-brand {
        color: $link-color;
        text-decoration: none;
        img {
          margin-top: 6px;
        }
      }
    }
    .navbar-menu {
      position: fixed;

      right: 0px;
      top:0;
      width: 200px;
      .navbar-icon {
        width: 200px - 20px;
        height: $menu-icon-width;
        padding: 10px;
        padding-top:20px;
        position: relative;
        margin: 0 auto;
        @include standard-animation(.25s);
        &.navbar-icon-open {
          background: $dark-background;
          @include standard-animation(.25s);
        }
      }
      .navbar-menu-contents {
        padding: 0;
        margin: 0;
        list-style: none;
        width: $navbar-width;
        max-height: 506px;
        opacity: 1;
        @include standard-animation(.25s);
        overflow: hidden;
        .navbar-menu-contents-links {
          padding: 0;
          margin: 0;
          li {
            text-align: left;
            font-size: 13px;
            background-color: $light-backround;
            min-height: $navbar-item-height;
            border:1px solid $dark-background;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              margin: 0;
              padding: 20px;
              width: 100%;
              &:hover {
                background-color: black;
                @include standard-animation(.25s);
                color: $tidal-blue;
              }
            }

          }
        }
        .navbar-menu-contents-footer {
          @extend .social-icons;
        }
        &.collapse {
          max-height: 0px;
          opacity: 0;
          @include standard-animation(.25s);
        }
      }
    }
  }
}

/* Ultra Small screens */
@media all and (max-width: 599px) {
  .header {
    .navbar {
      padding-bottom: 0;
      .navbar-menu {
        width:100%;
        .navbar-icon {
          width: 100%;
          .menu-icon {
              float:right;
              margin-right: 35px;
           }
         }
         .navbar-menu-contents {
            width:100%;
          .navbar-menu-contents-links {
            li {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

/* Small screens */
@media all and (min-width: 600) and (max-width: 750px) {
  .header {
    .navbar {
      padding-bottom: 0;
      .navbar-menu {
        width:100%;
        .navbar-icon {
          width: 100%;
          .menu-icon {
              float:right;
              margin-right: 35px;
           }
         }
         .navbar-menu-contents {
            width:100%;
          .navbar-menu-contents-links {
            li {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

/* Medium screens */
@media all and (min-width: 751px) and (max-width: 1023px) {
  .header {
    .navbar {
      padding-bottom: 0;
      .navbar-menu {
        width:100%;
        .navbar-icon {
          width: 100%;
          .menu-icon {
              float:right;
              margin-right: 35px;
           }
         }
         .navbar-menu-contents {
            width:100%;
          .navbar-menu-contents-links {
            li {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

/* Large screens */
@media all and (min-width: 1024px) {

}
