
.menu-icon {
  width: $menu-icon-width;
  height: $menu-icon-height;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: $menu-icon-thickness;
  width: 100%;
  background: white;
  border-radius: $menu-icon-thickness;
  opacity: 1;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2),.menu-icon span:nth-child(3) {
  top: $menu-icon-thickness * 2;
}

.menu-icon span:nth-child(4) {
  top: $menu-icon-thickness * 4;
}

//Menu Icon Open
.menu-icon.open span:nth-child(1) {
  top: $menu-icon-thickness * 2;
  width: 0%;
  right: 50%;
}

.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-icon.open span:nth-child(4) {
  top: $menu-icon-thickness * 2;
  width: 0%;
  right: 50%;
}
