//Grid
$grid-columns: 12;

//Font
$font: 'Nationale' !default;

//Colors
$light-backround: #292929;
$dark-background: #1c1c1c;
$link-color: #FFF;
$link-hover-color: #d0d0d0;
$tidal-blue: #00f5f5;
$social-icon-color: #878787;

//Nav
$navbar-margin: 40px;
$navbar-height: 60px;
$navbar-width: 200px;
$navbar-item-height: 42px;

//Menubar Icon
$menu-icon-thickness: 4px;
$menu-icon-width: 30px;
$menu-icon-height: 10px;

//Extends
.social-icons {
  padding: 0;
  margin: 0;
  background-color: $dark-background;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 10px;
      min-height: $navbar-item-height;
      list-style-type:none;
      font-size: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      a {
        color: $social-icon-color;
        &:hover {
          color: $tidal-blue;
        }
      }
    }
  }
}

@mixin standard-animation($time) {
  -webkit-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -o-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
