// bower:scss
// endbower


//Variables
@import "variables";

//Components
@import "fonts";
@import "grid";
@import "header";
@import "footer";
@import "carousel";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Overwrites
body {
  background-color: $light-backround;
  color: #fff;
  font-family: $font;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $tidal-blue;
  }
}

button, .button {
  background-color: $dark-background;
  color: white;
  border: 1px solid $tidal-blue;
  border-radius: 5px;
  padding: 16px 40px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: $tidal-blue;
    color: $dark-background;
  }
}

//Main View
.main {
  margin-top: $navbar-margin * 2;
  margin-bottom: $navbar-margin;
  section {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .mountain-section {
    img {
      margin-bottom: -5px;
      min-height: 440px;
      min-width: 1366px;
      width: 100%;
      height: auto;
    }
  }
  .app-section {
    padding-top:60px;
    background-color: $dark-background;
    img {
      margin-bottom: -5px;
    }
  }
}

/* Ultra Small screens */
@media all and (max-width: 599px) {
  .main .mountain-section img {
    left: 50%;
    margin-left: -112px;
    min-height: 220px;
    min-width: 683px;
  }
}

/* Small screens */
@media all and (min-width: 600) and (max-width: 750px) {
  .main .mountain-section img {
    left: 50%;
    margin-left: -112px;
    min-height: 220px;
    min-width: 683px;
  }
}

/* Medium screens */
@media all and (min-width: 751px) and (max-width: 1023px) {
  .main .mountain-section img {
    left: 50%;
    margin-left: -205px;
  }
}

/* Large screens */
@media all and (min-width: 1024px) {
}
