<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="futureAlbumApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Header -->
    <div class="header">
      <div class="navbar navbar-default">
        <div class="row">
          <!-- Brand -->
          <div class="navbar-header col-md-1 col-sm-4 flex-left flex-middle">
            <a class="navbar-brand" href="#/"><img src="images/logo.png" alt=""></a>
          </div>
          <!-- Menu -->
          <div class="col-offset-9 col-md-1 flex-right">
            <div class="navbar-menu">
              <div ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" ng-class="{'navbar-icon-open': !navCollapsed}" class="navbar-icon">
                <!-- Navbar Animated Menu -->
                <div class="menu-icon" ng-class="{open: !navCollapsed}">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <div class="navbar-menu-contents" ng-class="{collapse: navCollapsed}">
                <!-- Index -->
                <ul class="navbar-menu-contents-links">
                  <li><a href="#/">About</a></li>
                  <li><a href="#/">Web Player</a></li>
                  <li><a href="#/">Download</a></li>
                  <li><a href="#/">Help</a></li>
                  <li><a href="#/">Pricing</a></li>
                  <li><a href="#/">Contact</a></li>
                </ul>
                <!-- Social Icons -->
                <div class="navbar-menu-contents-footer flex-center flex-middle">
                  <ng-include src="'templates/social-icons.html'"></ng-include>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!-- Content -->
    <div class="main">
      <div ng-view=""></div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <!-- Top of Footer -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="footer-top flex-center">
              <div class="footer-top-header">
                <ul>
                  <li><i class="fa fa-apple" aria-hidden="true"></i></li>
                  <li><i class="fa fa-android" aria-hidden="true"></i></li>
                  <li><i class="fa fa-desktop" aria-hidden="true"></i></li>
                  <li><i class="fa fa-wifi" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="footer-top-body">
                <p>Seamless listening across mobile, tablet, desktop and network players. Enjoy lossless music streaming on Apple devices from iPhone, iPad and iPod to Mac, as well as on PC and Android systems. Plus integration in a wide range of high fidelity network players.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bottom of Footer -->
      <div class="footer-bottom">
        <!-- Try Tidal Button -->
        <div class="try-tidal">
          <button>TRY TIDAL NOW</button>
        </div>
        <!-- Footer Body -->
        <div class="tidal-footer flex-bottom">
          <div class="container">
            <div class="row">
              <!-- Copyright -->
              <div class="col-md-6 flex-left flex-middle">
                <p>2016 &copy; TIDAL</p>
              </div>
              <!-- Social Icons -->
              <div class="col-md-6 flex-right flex-middle">
                <div class="footer-social flex-right flex-middle">
                  <ng-include src="'templates/social-icons.html'"></ng-include>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/directives/carousel.js"></script>
    <!-- endbuild -->
  </body>
</html>
