<section>
  <!-- Carousel Directive -->
  <carousel carousel-items="carouselItems" carousel-options="carouselOptions"></carousel>
</section>

<!-- Mountain Image -->
<section class="mountain-section">
  <picture>
    <source type="image/webp" srcset="images/mountains.webp">
    <img src="images/mountains.png" alt="">
  </picture>
</section>

<!-- App Image -->
<section class="app-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-offset-2 flex-center">
        <picture>
          <source type="image/webp" srcset="images/app.webp">
          <img src="images/app.png" alt="">
        </picture>

      </div>
    </div>
  </div>
</section>
