<div class="carousel col-sm-12 flex-center flex-middle">
  <div class="carousel-body">
    <!-- Carousel Item -->
    <div ng-repeat="item in carouselItems" class="carousel-item row" ng-class="{'carousel-hidden': $index != currentCarousel}" ng-cloak>
      <!-- Carousel Item Body -->
      <div class="carousel-item-body">
        <div class="flex-middle">
          <div class="row">
            <!-- Carousel item body text -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-offset-1 carousel-item-body-text">
              <h1 ng-class="{'carousel-text-animation': $index === currentCarousel}">{{item.header}}</h1>
              <p ng-class="{'carousel-text-animation': $index === currentCarousel}">{{item.body}}</p>
            </div>
            <!-- Carousel Item Image -->
            <div class="col-lg-12 flex-right flex-middle carousel-item-image">
              <picture>
                <source type="image/webp" srcset="images/{{item.image}}.webp">
                <img ng-src="images/{{item.image}}.png" class="{{item.image}}" alt="">
              </picture>
            </div>
            <!-- Carousel Call to Action -->
            <!-- This was left unanimated for good UX so that people  -->
            <!-- easly can action the button -->
            <div class="col-lg-4 col-offset-1 carousel-item-button">
              <button href="{{item.buttonLocation}}">{{item.buttonText}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel Controls -->
  <div class="carousel-controls col-sm-12 flex-center flex-top">
    <div class="carousel-control-pips" ng-repeat="item in carouselItems" ng-class="{active: $index == currentCarousel}" ng-click="moveCarouselToIndex($index)"></div>
  </div>
</div>
